<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>host</key>
	<string>broker.mqttdashboard.com</string>
	<key>port</key>
	<integer>1883</integer>
	<key>tls</key>
	<false/>
	<key>base</key>
	<string>MQTTChat</string>
</dict>
</plist>
